<!--View created for desmontrate the cookies use in angularJS, for know how to use this,
see the js/controller/CookieStoreSampleController.js file-->
<div class="container">
    <div style="padding:20px;">
        <h1>Using cookies in AngularJS</h1>

        <p>To see the result of this example open the Develop Tools Inpector</p>
        <button class="btn" ng-click="saveEventToCookie(event)">Store Cookie</button>
        <button class="btn" ng-click="getEventFromCookie()">Get Cookie</button>
        <button class="btn" ng-click="removeEventCookie()">RemoveCookie</button>

    </div>
</div>