<h1>Using $timeout service in AngularJS</h1>
<h4>Example de how to use|create filters in angularJS, look the code for a better understanding</h4>
<div class="container">
    <div style="padding:20px;">
        <p>Enter a value in the input, after 3 seconds the <code>Hello!!</code> will appear on the name below.</p>
        <p>You can cancel the timeout using the Cancel button above</p>
        <input type="text" ng-model="lol"/>
        <button class="btn" ng-click="cancel()">Cancel</button>

        <h3>Name: {{name}}</h3>
    </div>
</div>
